<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <div class="content">
            <div class="row">
                <h1>Rock Paper Scissors</h1>
                <div class="btn exit">
                    <a href="#!" style="color:#ffff">Leave Game</a>
                </div>
            </div>
        </div>
    </header>
    <div class="score">
        <div class="content">
            <div class="row">
                <div class="col">
                    <div class="name">You</div>
                    <div class="point">0</div>
                </div>
                <div class="point">VS</div>
                <div class="col">
                    <div class="name">Opponent</div>
                    <div class="point">0</div>
                </div>
            </div>
        </div>
    <div class="chat">
        <div class="content">
            <div class="chat-header">💬 Chat Room</div>
            <div class="chat-messages">
                <div class="message user">You: Let's play!</div>
                <div class="message bot">Bot: Ready when you are 😄</div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Type a message..." id="chatInput">
                <button id="sendBtn"><i class="fa-solid fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
    
    </div>
    <div class="choice">
        <div class="content">
            <div class="col">
                <h3>Choose Your Move!</h3>
                <div class="row">
                    <a href="#!" class="btn">
                        <i class="fa-solid fa-hand-back-fist" style="color: #FFD43B;"></i>
                        <span class="desc">Rock</span>
                    </a>
                    <a href="#!" class="btn">
                        <i class="fa-solid fa-hand" style="color: #FFD43B;"></i>
                        <span class="desc">Paper</span>
                    </a>
                    <a href="#!" class="btn">
                        <i class="fa-solid fa-hand-scissors" style="color: #FFD43B;"></i>
                        <span class="desc">Scissors</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>